* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Titillium Web", sans-serif;
}

ul {
  list-style: none;
}

/* Utility */
.primary-button {
  background: #996dff;
  border-radius: 4px;
  color: #ffffff;
  padding: 1.6rem 2.4rem;
  margin-top: 3.2rem;
  text-align: center;
  transition: 0.2s;
}

.primary-button:hover {
  background: #7c3aed;
}

.secondary-button {
  border: 0.1rem solid #1e293b;
  border-radius: 0.4rem;
  color: #1e293b;
  padding: 1.6rem 2.4rem;
  margin-top: 3.2rem;
  text-align: center;
  transition: 0.2s;
}

.secondary-button:hover {
  background: #1e293b;
  color: #ffffff;
}

.card-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-price span {
  font-weight: 400;
}

.card-price p {
  font-size: 1.8rem;
  font-weight: 700;
}

/* Main */

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Cards */

.card-benefits li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  padding-top: 1.6rem;
}

.card-benefits::before {
  content: "";
  display: block;
  width: 32rem;
  height: 0px;
  border: 1px solid #e2e8f0;
  margin: 3.2rem 0;
}

.card-benefits li img {
  margin-right: 0.8rem;
}

.cards-group {
  width: 121.6rem;
  height: 45.4rem;
  display: flex;
  gap: 3.2rem;
}

/* Essentials */
.card-essentials {
  width: 38.4rem;
  height: 45.4rem;
  border: 0.1rem solid #e2e8f0;
  border-radius: 1rem;

  background: #ffffff;
  padding: 4.8rem 3.2rem 3.2rem 3.2rem;
  transition: 0.2s;
}

.card-essentials:hover {
  border: 0.1rem solid #996dff;
}

.essentials-content {
  width: 32rem;
  height: 37.4rem;
  display: flex;
  flex-direction: column;
}

.essentials-content .card-price p {
  color: #1e293b;
}

.essentials-content > span {
  color: #7c3aed;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2.1rem;
  text-transform: uppercase;
  margin-bottom: 0.8rem;
}

.essentials-content h1 {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 4.9rem;
  color: #1e293b;
}

.essentials-content .card-benefits,
.enterprise-content .card-benefits {
  color: #475569;
}

/* Ultimate */

.card-ultimate {
  width: 38.4rem;
  height: 45.4rem;
  background: #0f172a;
  padding: 4.8rem 3.2rem 3.2rem 3.2rem;
  border-radius: 1rem;
  position: relative;
}

.ultimate-content {
  width: 32rem;
  height: 37.4rem;
  display: flex;
  flex-direction: column;
}

.ultimate-content > span {
  color: #996dff;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2.1rem;
  text-transform: uppercase;
  margin-bottom: 0.8rem;
}

.ultimate-content h1 {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 4.9rem;
  color: #f8fafc;
}

.ultimate-content .card-price p {
  color: #f8fafc;
}

.ultimate-content .card-benefits {
  color: #cbd5e1;
}

.ultimate-content .card-benefits::before {
  border: 1px solid #334155;
}
/* Enterprise */

.card-enterprise {
  width: 38.4rem;
  height: 45.4rem;
  border: 0.1rem solid #e2e8f0;
  border-radius: 1rem;

  background: #ffffff;
  padding: 4.8rem 3.2rem 3.2rem 3.2rem;
  transition: 0.2s;
}

.card-enterprise:hover {
  border: 0.1rem solid #996dff;
}

.enterprise-content {
  width: 32rem;
  height: 37.4rem;
  display: flex;
  flex-direction: column;
}

.enterprise-content span {
  color: #7c3aed;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2.1rem;
  text-transform: uppercase;
  margin-bottom: 0.8rem;
}

.enterprise-content h1 {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 4.9rem;
  color: #1e293b;
}

.card-ultimate::before {
  position: absolute;
  content: "Mais vantajoso";
  color: #0f172a;
  background: #fba94c;
  border-radius: 6px;
  top: -1.8rem;
  left: calc(50% - 13.3rem / 2 - 0.5px);
  width: 13.3rem;
  height: 3.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0.8rem 1.6rem;
}

/* Responsive */

@media (max-width: 1200px) {
  .cards-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;
  }
  .card-benefits::before {
    margin: 1.6rem 0;
  }
}
